AUTH_SECRET=
AUTH_URL=
DATABASE_URL=
DATABASE_URL_UNPOOLED=
DEMO_USER_EMAIL=
DEMO_USER_PASSWORD=
NEON_PROJECT_ID=
PGDATABASE=
PGHOST_UNPOOLED=
PGPASSWORD=
PGUSER=
POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL_NO_SSL=
POSTGRES_USER=
VERCEL_OIDC_TOKEN=